<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta lang="hu-HU">

    <meta name="description" content="A Kizombavilág információs portál összegyűjti és rendszerezi a kizombával kapcsolatos ismereteket, amelyek az interneten nagyon szétszórtan lelhetők fel.">
    <meta name="keywords"  content="kizombavilág, kizomba világ, kizomba, passada, szemba, ennuel iverson" />
    <meta name="author"  content="Tvisztandris" />
    
    <meta property="og:title" content="<%= title %>">
    <meta property="og:site_name" content="Kizombavilág">
    <meta property="og:description" content="A Kizombavilág információs portál összegyűjti és rendszerezi a kizombával kapcsolatos ismereteket, amelyek az interneten nagyon szétszórtan lelhetők fel.">

    <!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff">-->

    <link rel="canonical" href="/<%= url %>" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&amp;subset=latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/kizomba3.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111942600-1"></script>
    <script src="/javascripts/mainClientSide.js" type="text/javascript"></script>
</head>