<!doctype html>
<html lang="hu">
<% include partials/head.ejs %>
<body>
    <div class="flex-container">
        
        <div class="site-header">
            <% include partials/header.ejs %>
        </div>

        <div class="wrapper">
            
            <div class="post-content">
                <h1 class="post-title">Üdvözöllek a Kizombavilág (Kivi) portálon!</h1>

                <h2>Miről szól a Kizombavilág?</h2>
                        
                <p>Mindenről, ami a kizomba tánccal és zenével kapcsolatos. A Kizombavilág információs portál összegyűjti és rendszerezi a kizombával kapcsolatos ismereteket, amelyek az interneten nagyon szétszórtan lelhetők fel.</p>
                <img class="cover" src="images/serra-da-leba-angola_20004_990x742.jpg" alt="A Serra de Leba hegység Angolában" title="A Serra de Leba hegység Angolában"/>

                <p>Kifejezetten az autentikus kizombára (passada) és szembára fektetem a hangsúlyt. Az urban kiz-ről még nem tudok sokat. Az írások nagyobb része Ennuel Iverson <a href="https://www.youtube.com/channel/UCz28lt0TR_DaZLSPVwBVUaw">Kizomba Tips & Advices</a> Youtube csatornáján található anyagok fordítása és átdolgozása.</p>
                
                <img class="cover" src="images/ennuel_hakima.jpg" title="Ennuel Iverson & Hakima Kim"/>
                

                <h2>Az elérhetőségeim és a hírlevelem</h2>
                        
                <ul>
                    <li><a href="mailto:guland@protonmail.com">guland@protonmail.com</a></li>
                    <li><a href="https://www.facebook.com/kizombavilag/">Kizombavilág (facebook)</a></li>
                    <li><a href="http://eepurl.com/dgDU-9">Kizombavilág (hírlevél)</a></li>
                </ul>

                <!--<h2>Kérdésed van? Tedd fel!</h2>

                <p>Submit form készületben...</p>-->
                <br>
            </div>
            <% include partials/footer.ejs %>
        </div>
    </div>
</body>
</html>