@charset "UTF-8";
/* "KIZOMBAVILÁG" THEME CREATED BY ANDRÁS GULÁCSI (TVISZTANDRIS), 2017-12-30 */



/* ++++++++++++++++ 

  SET BASICS

   ++++++++++++++++ 
*/



html {
  font-size: 20px;
}

body {
  height:100%;
  width:100%;
  font: 400 1rem/1.63 "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: left;
  color:#333;
  background:#fff;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, hr, dl, dd, ol, ul, figure {
  margin:0;
  padding:0
}

blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 1rem;
}

p {
  margin-bottom: .7rem;
  text-indent: 2em;
}

h2, h3, h4, h5, h6 {
  font-family: "Oswald", 'Arial', "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 2rem;
  margin-bottom: .9rem;
  padding-left: 2rem;
  padding-right: 1rem;
  line-height: 1.3;
  color: #554000;
}

h1 {
  line-height: 1.3;
  font-family: "Oswald", 'Arial', "Helvetica Neue", Helvetica, sans-serif;
}

a {
  text-decoration: underline;
  background: #FFEAAA;
  color: #554000;
}a:hover {
  transition: .35s;
  background: #554000;
  color: #FFEAAA;
}/*a:visited {
  color: #b60f84;
}*/

ul, ol {
  margin-left: 4rem;
  margin-right: 2rem;
}

li > ul, li > ol {
  margin-bottom: 0;
}


figcaption {
  display: block;
  margin: 0;
  padding: 1rem 0;
  font-style: italic;
  text-align: center;
  font-size: .85rem;
  color: #806515;
}figcaption a{
  font-size: .85rem;
}


iframe { 
  display: block;
  width: 97.5%;
  margin: auto;
  padding: 0;
}

img {
  display: block;
  height: auto;
  width: 97.5%;
  margin: auto;
  padding: 0;
  text-align: center;
}


/* ++++++++++++++++ 

  SET BASIC CLASSES

   ++++++++++++++++ 
*/



.cc-img {
  height: 31px;
  width: 88px;
  margin: auto;
}
.cc-text {
  text-indent: none;
  text-align: center;
  font-size: 0.6rem;
}


.footer {
  font-size: .6rem;
  color: #111;
  text-align: center;
  background: #AAA039;
  

}.footer p {
  text-indent: 0;
  padding: .5rem 0;
  margin: 0;
}



/* ++++++++++++++++ 

  SET STYLING OF PAGE SUB-PARTS

   ++++++++++++++++ 
*/



.flex-container {
  display: block;
}


.site-header {
  flex: 1;
  line-height: 3.5rem;
  background: #1C053A;
}


.wrapper {
  flex: 3;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
  background: #AAA039;
}


.post-content {
  padding-top: 2rem;
  margin: 1.5rem 3rem 0rem 3rem;
  background: #f8f8f8;
  border-bottom: 1px solid #888;
  -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.12), 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 -1px 0 rgba(0,0,0,0.12), 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 -1px 0 rgba(0,0,0,0.12), 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 5px;
}.post-content p {
  padding: 0 2rem;
}

.right-p {
  font-size: .85rem;
  text-align: right;
  font-weight: 700;
}

.post-title {
  font-size: 2.5rem;
  padding-right: 0;
  padding-left: 0;
  margin-right: 8px;
  margin-left: 8px;
  border-right: 1.5rem solid #fff;
  border-left: 1.5rem solid #FFEAAA;
  border-radius: 2px;
  color: #554000;
  box-shadow: 8px 0 0 #fff, -8px 0 0 #806515;
  text-align: right;
}

.post-date {
  margin-top: .5rem;
  padding-right: 2rem;
  font-size: 0.75rem;
  text-indent: 0;
  text-align: right;
  color: #806515;
}

.literature {
  font-size: .75rem;
}

.cover {
  padding: 1.25% 0;
  -webkit-filter: sepia(50%); /* Safari */
  filter: sepia(50%);
  width: 50%
}

.normal {
  padding: 1.25% 0;
  width: 65%
}


.site-header header nav {
  padding-right: 1.5rem;
}

.site-header a{
  color: #8F78AD;
  padding: 0.4rem;
  font-size: .85rem;
  text-decoration: none;
  font-weight: 700;
  text-decoration: none;
  background: none;
}.site-header a:hover{
  transition: 0.35s;
  color: #b60f84;
}.site-header a:active{
  transition: 0.1s;
  color: #b60f84;
}

.site-header header ul li {
  padding: .5rem 0;
  line-height: 1.2;
  margin: 0;
  border-bottom: 1px solid #8F78AD;
  width: 100%;
  text-align: center;
}


.navbar {
  margin-top: 2rem;
  display: block;
  text-align: left;
  list-style-type: none;
  margin-left: 0;
  width: 100%;
}

.site-title {
  padding-top: 1rem;
  text-align: center;
}
.site-header .site-title a {
  font-size: 1.5rem;
  color: #8080B3;
  font-weight: 800;
  text-decoration: none;
}.site-header .site-title a:hover {
  transition: 0.35s;
  color: #b60f84;
}.site-header .site-title a:active{
  transition: 0.1s;
  color: #b60f84;
}



/* ++++++++++++++++ 

  SET MEDIA QUERYIES FOR RESPONSIVE DESIGN

   ++++++++++++++++ 
*/



/* ACTIVATES THE FLEX-BOX MODEL FOR LARGER SCREENS */
@media only screen and (min-width: 769px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .post-content {
    margin: 0;
    padding-bottom: 0;
    border: none;
    box-shadow: none;
  }

  .wrapper {
    padding-top: 0rem;
}
}


/* REDUCES FONT-SIZES, PADDINGS, AND MARGINS FOR SMALL SCREENS */
@media only screen and (max-width: 600px) {
  body {
      font-size: .9rem;
  }

  .right-p {
    font-size: .75rem;
  }

  .cover, .normal {
    width: 75%;
  }

  ul, ol {
    margin-left: 2rem;
    margin-right: 1rem;
  }

  h2, h3, h4, h5, h6 {
    padding-left: 1rem;
  }

  figcaption, figcaption a {
    font-size: .8rem;
  }

  .post-title {
    font-size: 2rem;
  }

  .literature, .post-date {
      font-size: 0.7rem;
  }

  .site-header a {
      font-size: .8rem;
  }

  .site-header header ul li {
    padding: .5rem 0;
  }

  .navbar {
    margin-top: 1rem;
  }

  .post-content {
    margin: 0;
    border-radius: 0;
  }.post-content p {
    padding: 0 1rem;
  }

  .wrapper {
      padding-top: 0rem;
  }
}


/* REDUCES FONT-SIZES FOR MINIMAL SCREEN WIDTHS */
@media only screen and (max-width: 370px) {
  body {
      font-size: .8rem;
  }

  .right-p {
    font-size: .65rem;
  }

  .cover, .normal {
    width: 90%;
  }

  .literature, .post-date {
      font-size: 0.6rem;
  }

  figcaption, figcaption a {
      font-size: .7rem;
  }

  .cc-text {
    font-size: 0.5rem;
  }

  .footer {
    font-size: 0.5rem;
  }
}